body {
    font-family: Arial, sans-serif;
    background-color: #ffffff; /* Fundo branco */
    color: #333333; /* Texto padrão */
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50; /* Verde */
    color: white;
    text-align: center;
    padding: 20px;
}

h1 {
    margin: 0;
}

.services {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.service-column {
    background-color: #f9f9f9; /* Fundo claro para os serviços */
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 22%;
    margin: 10px;
    padding: 15px;
    text-align: center;
    transition: box-shadow 0.3s; /* Efeito ao passar o mouse */
}

.service-column:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra ao passar o mouse */
}

.service-column img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.contact {
    text-align: center;
    padding: 20px;
    background-color: #f9f9f9; /* Fundo claro */
}

.map {
    text-align: center;
    padding: 20px;
}

footer {
    background-color: #4CAF50; /* Verde */
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}

